<mat-toolbar color="primary">
    <span>App Users</span>
    <span class="example-spacer"></span>
    <button routerLink="/dashboard" mat-button>Dashboard</button>
    <button routerLink="/dashboard/users" mat-button>Users</button>
    <button routerLink="/dashboard/reports" mat-button>Reports</button>
    <span class="example-spacer"></span>
    <button routerLink="/login" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>logout</mat-icon>
      </button>
  </mat-toolbar>